@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,200;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
:root {
  --primary-text-color: #183b56;
  --background-color: #ffffff;
  --card-background-color: #f9fdff;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
}

body {
  background-color: var(--background-color);
  font-family: "Saira", sans-serif;
  color: var(--primary-text-color);
}
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
/* Dark mode toggle button */
.dark-mode-toggle {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "Saira", sans-serif;
}

/* Dark mode styles */
.dark-mode .search-bar,
.dark-mode .news-input,
.dark-mode .search-button,
.dark-mode .card,
.dark-mode .nav {
  border-color: #ffffff; /* Use white border for dark mode elements */
}

.dark-mode .news-input {
  color: #ffffff;
}

.dark-mode .search-button {
  background-color: #333;
  color: #ffffff;
}

.dark-mode .card {
  background-color: #121212;
  box-shadow: 0 0 4px #121212;
  color: #ffffff;
}

.dark-mode .card:hover {
  background-color: #333;
  box-shadow: 1px 1px 8px #333;
}

/* Dark mode for nav bar and nav links */
.dark-mode .nav,
.dark-mode .nav-links .nav-item {
  color: #090808;
}

.dark-mode .halfmoon .moon,
.dark-mode .halfmoon .sun {
  background-color: #ffffff;
}
p {
  font-family: "Saira", sans-serif;
  color: var(--secondary-text-color);
  line-height: 1.4rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.flex {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1180px;
  margin-inline: auto;
  overflow: hidden;
}
nav {
  background-color: #3d3f40;
  box-shadow: 0 0 4px #353536;
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  right: 0;
}
.main-nav {
  justify-content: space-between;
  padding-block: 8px;
}

.company-logo-container {
  width: 60px; /* Set width and height to make it a square */
  height: 60px;
  border-radius: 50%; /* Make it a circle */
  overflow: hidden; /* Hide overflow for circular shape */
  border: 2px solid #5288b7; /* Add border color */
  margin-right: 16px; /* Add spacing between logo and other elements */
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-logo img {
  width: 100%; /* Make the image fill the container */
  height: auto;
}
.nav-links ul {
  gap: 16px;
  cursor: pointer;
  color: #ffffff;
}
.hover-link:hover {
  color: var(--secondary-text-color);
}
.hover-link:active {
  color: red;
}
.search-bar {
  height: 32px;
  gap: 8px;
}
.news-input {
  width: 200px;
  height: 100%;
  padding-inline: 12px;
  border-radius: 4px;
  border: 2px solid #5288b7;
  font-family: "Saira", sans-serif;
}
.search-button {
  background-color: var(--accent-color);
  color: white;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Saira", sans-serif;
}
.search-button:hover {
  background-color: var(--accent-color-dark);
}
main {
  padding-block: 20px;
  margin-top: 80px;
}
.cards-container {
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: start;
}

.card {
  width: 360px;
  min-height: 400px;
  box-shadow: 0 0 4px #d4ecff;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.3s ease;
}
card:hover {
  box-shadow: 1px 1px 8px #d4ecff;
  background-color: var(--card-background-color);
  transform: translateY(-2px);
}

.card-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
}

.news-source {
  margin-block: 12px;
}
.halfmoon {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.moon,
.sun {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.moon {
  background-color: #333;
  left: 0;
  transform: translateX(0);
}

.sun {
  background-color: #f3f3f3;
  right: 0;
  transform: translateX(100%);
}

body.dark-mode .moon {
  transform: translateX(100%);
}

body.dark-mode .sun {
  transform: translateX(0);
}
